<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <parameter name="Invalid" value="shubham jain"/>
  <parameter name="password" value="jain"/>
  <groups>
<run>
<include name="sanity"/>
<include name="invalid"/>
</run>
</groups>
<!--  <classes> -->
<!--   <class name="com.Assignment.tests.LoginTest"/> -->
<!--   </classes> -->
  </test>
</suite> 
